@import url("colors.css");

html {
    background: var(--background);
    font-family: "EB Garamond";
    font-size: 18;
    padding: 2em;
}

h1, h2 {
    color: var(--color1);
}

a:hover {
    text-decoration: underline;
}

pre, code {
    color: var(--color6);
    font-family: "Courier Prime";
}

a {
    color: var(--color4);
    text-decoration: none;
}

a pre, a code {
    color: var(--color4);
}

p {
    color: var(--foreground);
}

ul {
    color: var(--foreground);
    list-style: none;
}


hr {
    border: 0;
    border-bottom: 1px solid var(--color6);
    width: 80%;
}
